body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* Pages */
.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden { display: none; }

/* Pink background */
.pink {
    background: linear-gradient(135deg, #ff9a9e, #fecfef);
}

/* Black */
.black {
    background: black;
    color: white;
}

/* White */
.white {
    background: white;
}

/* Buttons */
button {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    background: #ff4d6d;
    color: white;
    border: none;
    font-size: 16px;
}

/* Decoration */
#decor {
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
}

/* Cake */
#cakeBox {
    position: relative;
    margin-top: 20px;
}

#cake {
    width: 250px;
}

/* Cutting line */
#cutLine {
    position: absolute;
    width: 5px;
    height: 0;
    background: red;
    left: 50%;
    top: 0;
    transition: height 1s;
}

/* Letter */
#letter {
    position: fixed;
    top: 30%;
    width: 100%;
    text-align: center;
}

.envelope {
    font-size: 40px;
    cursor: pointer;
}

/* Message Page */
#messagePage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    padding-top: 100px;
}