body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none !important;   /* 🔥 FIX */
}

.pink {
    background: linear-gradient(135deg, #ff9a9e, #fecfef);
}

.black {
    background: black;
    color: white;
}

.white {
    background: white;
}

.lightPink {
    background: #ffe4ec !important;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    background: #ff4d6d;
    color: white;
    border: none;
}

/* Decoration */
#decor {
    font-size: 45px;
    margin-top: 20px;
    font-family: 'Comic Sans MS', cursive;
    color: #ff007f;
}

/* Cake */
#cakeBox {
    position: relative;
}

#cake {
    width: 250px;
}

#cutLine {
    position: absolute;
    width: 5px;
    height: 0;
    background: red;
    left: 50%;
    top: 0;
    transition: height 1s;
}

/* Popup */
#finalPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* always flex */
    justify-content: center;
    align-items: center;
}

.paper {
    background: pink;
    padding: 30px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    animation: pop 0.5s ease;
}

@keyframes pop {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
